<!DOCTYPE html>

<head>
    <title>Log Tool - Submit</title>
    <link href="/static/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/post.js"></script>
</head>

<body>
    <h1>Log Tool - Submit</h1>

    <h2>Documentation</h2>

    <p>The API <a href="/submit">/submit</a> method allows remote applications or microservices to submit logs via http POST request! </p>
    <p>Submitted logs must contain a JSON object describing the log as body of the POST request. For example - to submit a log, send the following http POST request.</p>
    <code>
        $ curl --header "Content-Type: application/json" --data '{"source":"Customer Information Service","code":1255,"type":"Information","description":"example"}' http://35.196.103.242/submit
    </code>
    <p>Alternatively, use the live example below.</p>


    <h2>Live Example</h2>

    <p>
        <input id="source" type="text" name="source" value="Customer Information Service">
        Source - The remote service from which the log originated.
    </p>
    <p>
        <input id="code" type="number" value="1255">
        Code - The remote service event code used to track the origin of this log.
    </p>
    <p>
        <input id="type" type="text" value="Information"> 
        Type - Log type or level (ie. "Information", "Critical", "Warning").
    </p>
    <p>
        <input id="description" type="text" value="Elvis has left the building">
        Description - Log contents including for message, error report, debug information, etc.
    </p>

    <button onclick="submit()">Submit</button>

    <p id="message"></p>

</body>
